/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
    padding: 140px 0 60px 0;
    min-height: 30vh;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .breadcrumbs:before {
    content: "";
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    inset: 0;
  }
  
  .breadcrumbs h2 {
    font-size: 56px;
    font-weight: 500;
    color: #fff;
    font-family: var(--font-secondary);
  }
  
  .breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0 0 10px 0;
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: var(--color-primary);
  }
  
  .breadcrumbs ol a {
    color: rgba(255, 255, 255, 0.8);
    transition: 0.3s;
  }
  
  .breadcrumbs ol a:hover {
    text-decoration: underline;
  }
  
  .breadcrumbs ol li+li {
    padding-left: 10px;
  }
  
  .breadcrumbs ol li+li::before {
    display: inline-block;
    padding-right: 10px;
    color: #fff;
    content: "/";
  }
  
  /*--------------------------------------------------------------
    # Our Projects Section
    --------------------------------------------------------------*/
    .projects .portfolio-flters {
      padding: 0;
      margin: 0 auto 20px auto;
      list-style: none;
      text-align: center;
    }
    
    .projects .portfolio-flters li {
      cursor: pointer;
      display: inline-block;
      padding: 0;
      font-size: 18px;
      font-weight: 500;
      margin: 0 10px;
      line-height: 1;
      margin-bottom: 5px;
      transition: all 0.3s ease-in-out;
    }
    
    .projects .portfolio-flters li:hover,
    .projects .portfolio-flters li.filter-active {
      color: var(--color-primary);
    }
    
    .projects .portfolio-flters li:first-child {
      margin-left: 0;
    }
    
    .projects .portfolio-flters li:last-child {
      margin-right: 0;
    }
    
    @media (max-width: 575px) {
      .projects .portfolio-flters li {
        font-size: 14px;
        margin: 0 5px;
      }
    }
    
    .projects .portfolio-content {
      position: relative;
      overflow: hidden;
    }
    
    .projects .portfolio-content img {
      transition: 0.3s;
    }
    
    .projects .portfolio-content .portfolio-info {
      opacity: 0;
      position: absolute;
      inset: 0;
      z-index: 3;
      transition: all ease-in-out 0.3s;
      background: rgba(0, 0, 0, 0.6);
      padding: 15px;
    }
    
    .projects .portfolio-content .portfolio-info h4 {
      font-size: 14px;
      padding: 5px 10px;
      font-weight: 400;
      color: #fff;
      display: inline-block;
      background-color: var(--color-primary);
    }
    
    .projects .portfolio-content .portfolio-info p {
      position: absolute;
      bottom: 10px;
      text-align: center;
      display: inline-block;
      left: 0;
      right: 0;
      font-size: 16px;
      font-weight: 600;
      color: rgba(255, 255, 255, 0.8);
    }
    
    .projects .portfolio-content .portfolio-info .preview-link,
    .projects .portfolio-content .portfolio-info .details-link {
      position: absolute;
      left: calc(50% - 40px);
      font-size: 26px;
      top: calc(50% - 14px);
      color: #fff;
      transition: 0.3s;
      line-height: 1.2;
    }
    
    .projects .portfolio-content .portfolio-info .preview-link:hover,
    .projects .portfolio-content .portfolio-info .details-link:hover {
      color: var(--color-primary);
    }
    
    .projects .portfolio-content .portfolio-info .details-link {
      left: 50%;
      font-size: 34px;
      line-height: 0;
    }
    
    .projects .portfolio-content:hover .portfolio-info {
      opacity: 1;
    }
    
    .projects .portfolio-content:hover img {
      transform: scale(1.1);
    }
    